html,body{
  margin:0;
  padding: 0;
}
*{
  font-family: Arial;
  text-decoration: none;
} .nav {
  position: absolute;
  top:0;
  background-color: #eee;
  height: 80px;
  width: 100%;
  font-size: 20px;
} .nav ul {
  list-style-type: none;
} .nav ul li{
  padding-left: 20px;
  display: inline-block;
} .navTitle {
  font-size: 30px;
  color:#33ccff;
} .app {
  position: absolute;
  top: 60px;
  left:10px;
} .caption {
  position: absolute;
  top:120px;
  left:10px;
} .weatherForm {
  position: absolute;
  top:180px;
  left:10px;
} .weatherMsg {
  position: absolute;
  top:200px;
  left:10px;
}
