html,body{
  margin:0;
  padding: 0;
} *{
  font-family: Arial;
  text-decoration: none;
} body{
  animation: colors 60s forwards infinite linear;
  -webkit-animation: colors 60s forwards infinite linear;
  } .nav {
  position: fixed;
  top:0;
  background-color: #eee;
  height: 80px;
  width: 100%;
  font-size: 1.6rem;
  opacity: .8;
  border:1px solid;
  box-shadow:0 0 15px grey;
  transition: .3s;
} .nav:hover{
  opacity: 1;
}.nav ul {
  list-style-type: none;
  margin-top: .8rem;
} .nav ul li{
  padding-left: 20px;
  display: inline-block;
} #navTitle {
  font-size: 2.5rem;
  color:#33ccff;
} .caption {
  box-shadow: 1rem 1rem 1rem #444;
  border: 3px solid;
  border-radius: 1rem;
  padding: 5rem 2rem 5rem 2rem;
  position: absolute;
  top:8rem;
  left:30rem;
  transition: .3s;
} .caption h1 {
  font-size: 2.5rem;
} .weatherForm {
  position: relative;
  transition: .3s;
} .weatherForm input{
  font-size: 20px;
  position: relative;
  height: 40px;
  width: 300px;
  border-radius: 15px;
  border: 3px solid;
  transition: .3s;
} .weatherForm button{
  width: 200px;
  height: 50px;
  background-color: inherit;
  font-size: 25px;
  display: block;
  top:2rem;
  left: 3rem;
  position: relative;
  border-radius: 15px;
  border: 1px solid;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: .3s;
} .weatherForm button:hover{
  box-shadow: 0 0 20px black;
} .weatherForm button:active{
    box-shadow: 0 0 50px black;
} .weatherMsg {
  position: relative;
  display: block;
  top:4rem;
  left: 1rem;
  transition: .3s;
} .exLinks {
  list-style: none;
  font-size: 1.5rem;
} .exLinks li {
  padding:1rem 0 1rem 0;
  display: block;
  text-decoration: none;
} .slide button{
  display: none;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: inherit;
  border: none;
} .slide img {
  display: none;
  height: 50px;
  width: 50px;
} .slide section {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  top:0;
  left: 0;
  width: 0;
  height: 100%;
} .slide section ul li {
  width: 150px;
  display: none;
  position: relative;
  padding-top: 40px;
  font-size: 25px;
  color:#aaa;
  border-bottom-right-radius: 40px;
} .slide section ul li:hover {
  border-bottom: 3px solid #eee;
  color:#fff;
  transition: .5s color;
}
@keyframes colors {
  0% {background-color:#99ebff;}
  10% {background-color:#ccdcff;}
  20% {background-color:#ccffe6;}
  30% {background-color:#ffccff;}
  40% {background-color:#ffcc99;}
  50% {background-color:#ff9999;}
  60% {background-color:#ffffb3;}
  70% {background-color:#99ffff;}
  80% {background-color:#f0b3ff;}
  90% {background-color:#c1f0c1;}
  100% {background-color:#99ebff;}
}
@-webkit-keyframes colors {
  0% {background-color:#99ebff;}
  10% {background-color:#ccdcff;}
  20% {background-color:#ccffe6;}
  30% {background-color:#ffccff;}
  40% {background-color:#ffcc99;}
  50% {background-color:#ff9999;}
  60% {background-color:#ffffb3;}
  70% {background-color:#99ffff;}
  80% {background-color:#f0b3ff;}
  90% {background-color:#c1f0c1;}
  100% {background-color:#99ebff;}
}

@media all and (max-width:1000px) {
  .caption {
    left:25rem;
  }
}
@media all and (max-width:900px) {
  .caption {
    left:20rem;
  }
}
@media all and (max-width:800px) {
  .caption {
    left:15rem;
  }
}
@media all and (max-width:750px) {
  .nav ul li{
    padding-left: 10px;
    display: inline-block;
    font-size: 1.4rem;
  }
}
@media all and (max-width:700px) {
  .caption {
    left:10rem;
  } #navTitle {
    display: block;
  } .nav ul li {
    display: none;
  } .slide button,.slide img,.slide section{
    display: block
  }
}
@media all and (max-width:600px) {
  .caption {
    left:5rem;
  }
}
@media all and (max-width:500px) {
  .caption {
    left:1rem;
  }
}
